/* UIlogin - MOFH MOD */

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */
 .uk-navbar {
    height: 50px;
}
.uk-logo {
    width: 120px;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #414349 !important;
	border-bottom: 4px solid #5cd1df;
}
.uk-card-primary {
    background: #5cd1df;
}
.uk-button-primary {
    background-color: #5cd1df !important;
}