/* UIlogin - MOFH MOD */

/* ========================================================================
   Use this file to add custom CSS easily
 ========================================================================== */
 .uk-navbar {
    height: 50px;
}
.uk-logo {
    width: 120px;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #333 none repeat scroll 0 0 !important;
}